<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="CajaInicio animated bounceInRight">
							<h1>Listado de personas</h1>
							<!-- id="listaPersonas" -->
								
								<table class='table table-hover table-responsive' id="listaPersonas">
									<thead>
										<tr>
											<th>  Foto   </th>				
											<th>  Nombre     </th>
											<th>  Apellido   </th>
											<th>  Correo        </th>
											<th>  BORRAR     </th>
											<th>  MODIFICAR  </th>
										</tr> 
									</thead>
									
									<tr>

										<td></td>
							
										<td></td>
										<td></td>
										<td></td>

										<td><button class='btn btn-danger' name='Borrar' ng-click="Borrar(persona)">   <span class='glyphicon glyphicon-remove-circle'>&nbsp;</span>Borrar</button></td>
										
										<td><button class='btn btn-warning' name='Modificar' ng-click="Modificar(persona)"><span class='glyphicon glyphicon-edit'>&nbsp;</span>Modificar</button></td>
															
									</tr>
										
								</table>
							</div>
</ion-content>
